{% extends'base.html' %}

{% block title %} About Us: {% endblock %}

{% block content %}


    <div class = "container">
    <div class = "pagetitles">
    <h2 style="color:white;font-size:45px;">About Us</h2>
    </div>
    <div class = "ryan">
    <h2>
        
        Classic Games Made New!
    </h2>
    <p>
        <br>
        The goal of this site is to give parents the opportunity to show their kids the old arcade games of their youth while teaching them the basic principles of coding!
        On the site, users will have access to several popular arcade games, each with its own twist that lets you use blocks of code to play. All of the activities should be able to be done at home using easily-found equipment and a simple set of rules.
        All of these attachments will be downloadable and able to be printed out, so you won't need any access to a computer or internet network while you spend quality time with your family!
        It is our hope that by making these games, parents will be able to bond with their kids over the games they loved, all while introducing them to the amazing world of coding!
    </p>
    </div>
    
    </div>
   
  
{% endblock %}